@if (galleryState.isGalleryOpen) {
  <div class="light-box__overlay" (click)="closeGallery()">
    <button
      mat-icon-button
      class="light-box__close"
      type="button"
      aria-label="Close"
      (click)="closeGallery()"
    >
      <mat-icon class="light-box__close-button">close</mat-icon>
    </button>
    <div class="light-box__image-container" (click)="$event.stopPropagation()">
      @if (showControls(galleryState.imageGallery.length)) {
        <div class="light-box__index">
          {{ galleryIndex(galleryState.index, galleryState.imageGallery) }}
        </div>
      }
      <div class="light-box__contol-layout">
        @if (showControls(galleryState.imageGallery.length)) {
          <div class="nav-controls-left">
            <button
              mat-icon-button
              class="light-box-nav-icon"
              type="button"
              aria-label="Previous image"
              (click)="previousImage($event)"
            >
              <mat-icon>chevron_left</mat-icon>
            </button>
          </div>
        }
        <img
          class="light-box__image"
          [src]="galleryState.imageGallery[galleryState.index].imageSrc"
          [alt]="galleryState.imageGallery[galleryState.index].imageAlt"
        />
        @if (showControls(galleryState.imageGallery.length)) {
          <div class="nav-controls-right">
            <button
              mat-icon-button
              class="light-box-nav-icon"
              type="button"
              aria-label="Next image"
              (click)="nextImage($event)"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        }
      </div>
      <div class="light-box__label">
        {{ galleryState.imageGallery[galleryState.index].imageLabel }}
      </div>
    </div>
  </div>
}
