.light-box__overlay,
.nav-controls,
.light-box-nav-icon,
.light-box__close,
.light-box__close-button {
  display: flex;
}

.light-box__overlay {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 12px;
  overflow: hidden;
}

.light-box__image-container {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
}

.light-box__image {
  display: block;
  border: 5px solid white;
  border-radius: 16px;
  width: auto;
  max-width: min(95vw, 1400px);
  height: auto;
  max-height: calc(95vh - 48px);
  object-fit: contain;
}

.nav-controls {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  inset: 0;
  padding: 12px;
  pointer-events: none;
}

.light-box-nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 40%;
  transition: opacity ease-in-out 250ms;
  cursor: pointer;
  border-radius: 50%;
  background: white;
  width: 48px;
  height: 48px;
  pointer-events: auto;
  color: black;
  font-weight: 900;
  font-size: 36px;
}

.light-box-nav-icon:hover {
  opacity: 100%;
  transition: opacity ease-in-out 250ms;
}

.light-box__close {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  justify-content: end;
  width: auto;
  height: auto;
}

.light-box__close-button {
  display: flex;
  justify-content: end;
  cursor: pointer;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  color: white;
  font-weight: 900;
  font-size: 24px;
}

.light-box__label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  margin-top: 8px;
  overflow: visible;

  color: white;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

.light-box__index {
  display: flex;
  justify-content: center;
  color: white;
}

.light-box__contol-layout {
  display: flex;
  align-items: center;
}

.nav-controls-left,
.nav-controls-right {
  margin: 8px;
}

@media (max-width: 768px) {
  .nav-controls-left,
  .nav-controls-right {
    position: absolute;
    margin: 8px;
  }

  .nav-controls-left {
    left: 0;
  }

  .nav-controls-right {
    right: 0;
  }
}
