<div class="element">
  <div class="element__header">
    <span class="element__number">Element {{ elementNumber }}</span>

    <mat-form-field appearance="outline" class="element__type">
      <mat-label>Content type</mat-label>
      <mat-select [(ngModel)]="selectedType" (ngModelChange)="onTypeChange()">
        @for (option of typeOptions; track option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button
      mat-icon-button
      type="button"
      aria-label="Remove element"
      (click)="remove.emit()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  @switch (selectedType) {
    @case (contentType.TEXT) {
      <app-text-content (blockChange)="onBlockChange($event)" />
    }
    @case (contentType.HEADING) {
      <app-sub-heading (blockChange)="onBlockChange($event)" />
    }
    @case (contentType.LIST) {
      <app-list-component (blockChange)="onBlockChange($event)" />
    }
    @case (contentType.IMAGES) {
      <app-image-gallery (blockChange)="onBlockChange($event)" />
    }
  }

  <mat-divider class="element__divider"></mat-divider>
</div>
