p {
  margin: 8px;
  text-align: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 960px;
}

.small {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 16px;
  aspect-ratio: 4 / 3; /* maintain consistent shape */
  max-width: 20%;
  overflow: hidden;
  object-fit: cover;
}

.medium {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 16px;
  aspect-ratio: 4 / 3; /* maintain consistent shape */
  width: 30%;
  overflow: hidden;
  object-fit: cover;
}

.large {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
}

.project__image-label {
  margin-top: 4px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .small,
  .large {
    border-radius: 4px;
  }
}
