.project__content {
  flex-direction: column;
  margin: auto;
}

.project-header {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.project__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  row-gap: 16px;
  margin-top: 16px;
}

.project__image {
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
}
