.project__content {
  flex-direction: column;
  margin: auto;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

h3 {
  font-size: 14px;
  margin: 16px 0 8px 0;
}

ul {
  margin: 0 24px;
}

.project-header {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.project__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  row-gap: 16px;
  margin-top: 16px;
}

.project__image {
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
}
