<div class="page-body">
  <div class="project__content card">
    <h1>Woolworths Online Grocery Order Tracking Portal</h1>
    <h2>Associate Software Engineer, WooliesX</h2>
    <img
      class="project-header"
      src="images/project-otp/otp-banner.png"
      alt="otp-banner"
    />
    <p>
      I worked as part of the WooliesX engineering team on the Order Tracking
      Portal, used by customers nationwide to track grocery deliveries in real
      time. While the project was a collaborative effort, I was specifically
      responsible for designing and building many of the user interface
      components, ensuring they were accessible, responsive, and aligned with
      Woolworths’ design system.
    </p>
    <h3>My contributions included:</h3>
    <ul>
      <li>
        Building reusable Angular components for the delivery tracking
        experience.
      </li>
      <li>
        Implementing real-time status updates and user-friendly progress
        indicators.
      </li>
      <li>
        Collaborating with designers and backend engineers to deliver seamless
      </li>
      <li>
        customer experiences. Writing automated tests (Cypress, Jest) to
        maintain reliability during continuous deployment.
      </li>
    </ul>
    <h3>Key Angular component contributions:</h3>
    <ul>
      <li>
        Real-time updates: Integrated SignalR for live streaming order status
        updates without page refresh.
      </li>
      <li>
        Dynamic Help Modal: Connected users with the best live support options,
        promoting native Android/iOS app for live chat or redirecting to web
        chat if preferred.
      </li>
      <li>
        Data-driven components: Displayed API response data from backend order
        tracking services, showing order status, delivery windows, and updates.
      </li>
      <li>
        Animated status tracking: Created visually engaging animated order
        status bars to improve user clarity.
      </li>
      <li>
        Live map tracking: Implemented live maps showing delivery driver
        location as orders neared delivery.
      </li>
      <li>
        Tooltips & instructional modals: Designed guidance overlays and tooltips
        to help users understand features and stay informed throughout the
        delivery process.
      </li>
    </ul>
    <div class="project__images">
      @for(image of config.screens; track image) {
      <a [href]="image" target="_blank">
        <img class="project__image" [src]="image" [alt]="image" />
      </a>
      }
    </div>
  </div>
</div>
