ul {
  padding: 24px;
}

li {
  margin-bottom: 12px;
  font-size: 16px;
  color: var(--color-text-dark);
  list-style: none;
}

.contact__icon {
  font-size: 24px;
  color: var(--color-text-dark);
  margin-right: 8px;
}
