<section class="contact card">
  <h2>Contact Me</h2>
  <ul>
    <li>
      <span><i class="fa-solid fa-envelope contact__icon"></i></span>
      <a href="mailto:clintkingston@gmail.com">clintkingston&#64;gmail.com</a>
    </li>
    <li>
      <span><i class="fa-brands fa-linkedin contact__icon"></i></span>
      <a href="https://www.linkedin.com/in/clintkingston/" target="_blank"
        >linkedin.com/in/clintkingston</a
      >
    </li>
    <li>
      <span><i class="fa-brands fa-github contact__icon"></i></span>
      <a href="https://github.com/clintkingston" target="_blank"
        >github.com/clintkingston</a
      >
    </li>
    <!-- Optional -->
    <li>
      <span><i class="fa-solid fa-map-location-dot contact__icon"></i></span>
      Sydney, Australia
    </li>
    <li>
      <span><i class="fa-solid fa-file contact__icon"></i></span>
      <a href="/ClintKingstonResume.pdf" download>Download Resume (PDF)</a>
    </li>
  </ul>
</section>
