p {
  text-align: left;
  margin: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  gap: 16px;
}

.project__image--size-full {
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.project__image--size-small {
  max-width: 20%;
  aspect-ratio: 4 / 3; /* maintain consistent shape */
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.project__image-label {
  text-align: center;
  margin-top: 4px;
  font-size: 14px;
  color: #666;
}
