<div class="page-body">
  <div class="project__content card">
    <h1>{{ projectHomeDiyConfig.title }}</h1>
    @for(item of projectHomeDiyConfig.description;track item) { @if(item.type
    === 'image') {
    <div class="container">
      <img
        class="project__image--size-full"
        [src]="item.src"
        alt="{{ item.alt }}"
      />
      <p class="project__image-label">{{ item.label }}</p>
    </div>
    } @else if(item.type === 'images') {
    <div class="container">
      @for(image of item.src; track image) {
      <img class="project__image--size-small" [src]="image" alt="{{ image }}" />
      }
    </div>
    <p class="project__image-label">{{ item.label }}</p>
    } @else if(item.type === 'text') {
    <p>{{ item.content }}</p>
    } @if (item.type === 'list') {
    <ul>
      @for(item of item.items; track item) {
      <li>{{ item }}</li>
      }
    </ul>
    }}
  </div>
</div>
