.ticker__container {
  background-color: var(--color-bg-page);
  padding: 16px;
  max-width: 100%;
}

.ticker__ticker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ticker__heading {
  color: var(--color-text-dark);
  font-weight: bold;
  font-size: 16px;
  text-align: start;
}

.ticker__emoji {
  margin-right: 0;
  font-size: 48px;
}

.ticker__text {
  display: flex;
  align-items: center;
  margin: 4px auto;
  min-height: 50px;
  color: var(--color-text-dark);
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.progress-bar-placeholer {
  height: 4px;
}

.progress-bar {
  color: var(--color-primary);
}

img {
  margin: 12px;
  width: 48px;
}

.ticker__text--blockquote {
  margin: 12px auto;
  color: grey;
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.ticker__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.dot {
  margin: 0 4px;
  border: solid 1px var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
  width: 12px;
  height: 12px;
}

.ticker__cheveron {
  cursor: pointer;
  color: var(--color-primary);
}

.ticker__controls {
  display: block;
  margin: auto;
  width: fit-content;
}

.filled {
  background-color: var(--color-primary);
}
