.ticker__container {
  margin: auto;
  max-width: 960px;
}

.ticker__ticker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ticker__heading {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-text-dark);
  text-align: start;
}

.ticker__emoji {
  font-size: 48px;
  margin-right: 0;
}

.ticker__text {
  display: flex;
  align-items: center;
  margin: 12px auto;
  min-height: 50px;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  color: var(--color-text-dark);
  text-align: center;
  line-height: 1.5;
}

.progress-bar-placeholer {
  height: 4px;
}

.progress-bar {
  color: var(--color-primary);
}

img {
  margin: 12px;
  width: 48px;
}

.ticker__text--blockquote {
  margin: 12px auto;
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  color: grey;
  text-align: center;
  line-height: 1.5;
}
