<div class="builder-block">
  <mat-form-field appearance="outline" class="builder-field">
    <mat-label>List label</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="label"
      (ngModelChange)="onChange()"
    />
  </mat-form-field>

  @for (value of listItemValues; track $index) {
    <div class="builder-row">
      <mat-form-field appearance="outline" class="builder-field">
        <mat-label>Item {{ $index + 1 }}</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="listItemValues[$index]"
          (ngModelChange)="onChange()"
        />
      </mat-form-field>
      @if (listItemValues.length > 1) {
        <button
          mat-icon-button
          type="button"
          aria-label="Remove item"
          (click)="removeListItem($index)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      }
    </div>
  }

  <button mat-stroked-button type="button" (click)="onNewListItem($event)">
    <mat-icon>add</mat-icon>
    Add item
  </button>
</div>
