.list-container {
  display: flex;
  flex-direction: column;
}

.text-area {
  min-height: 64px;
  resize: vertical;
}

.text-area-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 8px;
}
.new-list-container {
  display: flex;
  justify-content: end;
}

.list-items {
  flex-direction: column-reverse;
}

.button__new-list-item {
  width: 36px;
  height: 36px;
}
