<div class="page-body">
  <main class="about__content">
    <app-ticker
      title="Fun facts about me..."
      [items]="tickerConfig.items"
    ></app-ticker>

    <section class="about__section card">
      <h2>{{ content.aboutMe.title }}</h2>
      <div class="about__profile">
        <span>
          <img
            class="about__img-inline"
            [src]="content.aboutMe.image.url"
            [alt]="content.aboutMe.image.alt"
          />
        </span>
        <span>
          <p>
            {{ content.aboutMe.content }}
          </p>
          <div class="about__quick-facts">
            <ul>
              @for(item of content.aboutMe.quickFacts; track item.label) {
              <li>
                <strong>{{ item.label }}:</strong> {{ item.content }}
              </li>
              }
            </ul>
          </div>
        </span>
      </div>
    </section>

    <section class="about__section card">
      <h2>{{ content.howIGotHere.title }}</h2>
      <ul>
        @for(item of content.howIGotHere.list; track item) {
        <li>{{ item }}</li>
        }
      </ul>
    </section>

    <!-- WooliesX journey -->
    <section class="about__section card">
      <h2>{{ content.profesionalJourney.title }}</h2>
      <ul>
        @for(item of content.profesionalJourney.list; track item) {
        <li>{{ item }}</li>
        }
      </ul>
    </section>

    <!-- Personal interests -->
    <section class="about__section card">
      <h2>{{ content.OutSideOfWork.title }}</h2>
      <p>
        {{ content.OutSideOfWork.content }}
      </p>
    </section>
  </main>
</div>
