<div class="ticker__container">
  @if (title) {
    <div class="ticker__heading">{{ title }}</div>
  }
  <div class="ticker__ticker" [@fade]="fadeState">
    <div class="ticker__text">
      {{ currentItem }}
    </div>
  </div>
  <!-- ticcker controls -->
  <div class="ticker__controls">
    <div class="ticker__indicators">
      <!-- Chevron for navigation -->
      <button
        mat-icon-button
        class="ticker__cheveron"
        type="button"
        aria-label="Previous"
        (click)="onClickNavigation(-1)"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <!-- Dots for each item -->
      @for (item of items; track $index) {
        <div class="dot" [class.filled]="contentIndex === $index"></div>
      }
      <!-- Chevron for navigation -->
      <button
        mat-icon-button
        class="ticker__cheveron"
        type="button"
        aria-label="Next"
        (click)="onClickNavigation(1)"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <!-- Progress bar -->
    @if (!showProgressBar) {
      <div class="progress-bar-placeholer"></div>
    }
    @if (showProgressBar) {
      <mat-progress-bar
        class="progress-bar"
        mode="determinate"
        [value]="progress"
      ></mat-progress-bar>
    }
  </div>
</div>
