@if (config) {
  <div class="page-body">
    <div class="project__content card">
      <h1>{{ config.title }}</h1>
      @for (item of config.content; track $index) {
        <!-- sub-heading -->
        @if (item.type === contentType.HEADING) {
          <h3>{{ item.content }}</h3>
        }
        <!-- image gallery -->
        @else if (item.type === contentType.IMAGES) {
          <div class="container">
            @for (image of item.images; track $index) {
              <img
                class="image"
                [class]="item.previewSize"
                [src]="image.imageSrc"
                [alt]="image.imageAlt"
                (click)="openGallery(item.images, $index)"
              />
            }
          </div>
          <p class="project__image-label">{{ item.label }}</p>
        }
        <!-- text -->
        @else if (item.type === contentType.TEXT) {
          <p>{{ item.content }}</p>
        }
        <!-- list -->
        @else if (item.type === contentType.LIST) {
          <ul>
            @for (listItem of item.items; track $index) {
              <li>{{ listItem }}</li>
            }
          </ul>
        } @else if (item.type === contentType.COMPONENT) {
          <ng-container
            [ngComponentOutlet]="item.component"
            [ngComponentOutletInputs]="item.inputs"
          ></ng-container>
        } @else if (item.type === contentType.VIDEO) {
          <div class="container">
            <video
              class="video"
              [class]="item.videoSize"
              controls
              autoplay
              loop
              muted
              playsinline
            >
              <source [src]="item.src" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <p class="project__image-label">{{ item.label }}</p>
        }
      }
    </div>
  </div>
}
