.header__container {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: solid 2px var(--color-header-border);
  background: var(--color-bg-header);
  padding: 16px 24px;
  color: var(--collor-text-light);
}

.header__top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__title {
  margin: 0;
  color: var(--color-text-light);
  font-weight: var(--font-header-weight);
  font-size: var(--font-header-size);
}

.header__subtitle,
.header__description {
  margin: 2px 0 0 0;
  color: var(--color-text-light-secondary);
  font-weight: var(--font-subtitle-weight);
  font-size: var(--font-subtitle-size);
}
