<header class="header__container" appScrollShadow>
  <div class="header__title-block">
    <!-- TOP ROW: title + nav menu -->
    <div class="header__top-row">
      <div>
        <h1 class="header__title">{{ title }}</h1>
        <div class="header__middle-row">
          <h2 class="header__subtitle">{{ subtitle }}</h2>
        </div>
        <div class="header__bottom-row">
          <div class="header__description">{{ description }}</div>
        </div>
      </div>
      <app-nav-menu
        class="header__nav-menu"
        [items]="navMenuItems"
      ></app-nav-menu>
    </div>
  </div>
</header>
