<mat-toolbar class="header" appScrollShadow>
  <div class="header__brand">
    <span class="header__title">{{ title }}</span>
    <span class="header__subtitle">{{ subtitle }}</span>
  </div>

  <span class="header__spacer"></span>

  <app-nav-menu
    class="header__nav"
    [items]="navMenuItems"
    layout="horizontal"
  ></app-nav-menu>

  <button
    mat-icon-button
    class="header__theme-toggle"
    type="button"
    [matTooltip]="theme.label"
    [attr.aria-label]="theme.label"
    (click)="theme.cycleMode()"
  >
    <mat-icon>{{ theme.icon }}</mat-icon>
  </button>

  <button
    mat-icon-button
    class="header__menu-button"
    type="button"
    aria-label="Open navigation menu"
    (click)="menuToggle.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
