<div class="page-body">
  <main class="home__content">
    <app-ticker
      [title]="tickerConfig.title"
      [items]="tickerConfig.items"
    ></app-ticker>

    <section class="home__section card">
      <h2>{{ content.tldr.title }}</h2>
      <p>
        {{ content.tldr.content }}
      </p>
    </section>

    <section class="home__section card">
      <h2>{{ content.keyProjects.title }}</h2>
      <p>
        {{ content.keyProjects.content }}
      </p>
      <ul class="achievement-list">
        @for(item of content.keyProjects.list; track item.label) {
        <li>
          <strong>{{ item.label }}:</strong> {{ item.content }}
        </li>
        }
      </ul>
    </section>

    <section class="home__section card">
      <h2>{{ content.howIWork.title }}</h2>
      <p>
        {{ content.howIWork.content }}
      </p>
    </section>

    <section class="home__section tech-stack card">
      <h2>{{ content.techStack.title }}</h2>
      <p>{{ content.techStack.content }}</p>
      <ul class="tech-stack__list">
        @for(item of content.techStack.techStackIcons; track item.file) {
        <li>
          <img
            src="/images/tech-stack-icons/{{ item.file }}"
            alt="{{ item.label }}"
            title="{{ item.label }}"
          />
        </li>
        }
      </ul>
    </section>
  </main>
</div>
