<div class="builder-block">
  <mat-form-field appearance="outline" class="builder-field">
    <mat-label>Section label</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="label"
      (ngModelChange)="onChange()"
    />
  </mat-form-field>

  @for (value of textParagraphValues; track $index) {
    <div class="builder-row">
      <mat-form-field appearance="outline" class="builder-field">
        <mat-label>Paragraph {{ $index + 1 }}</mat-label>
        <textarea
          matInput
          rows="3"
          [(ngModel)]="textParagraphValues[$index]"
          (ngModelChange)="onChange()"
        ></textarea>
      </mat-form-field>
      @if (textParagraphValues.length > 1) {
        <button
          mat-icon-button
          type="button"
          aria-label="Remove paragraph"
          (click)="removeParagraph($index)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      }
    </div>
  }

  <button mat-stroked-button type="button" (click)="onNewParagraph($event)">
    <mat-icon>add</mat-icon>
    Add paragraph
  </button>
</div>
