.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  padding: 20px;
  background-color: var(--color-bg-footer);
  color: var(--color-text-light);
}

.footer__text {
  margin-bottom: 8px;
}

.footer__disclaimer {
  font-size: 10px;
  color: var(--color-text-light-secondary);
  text-align: center;
}
