:root {
  --color-bg-page: #f5f5f5;
  --color-bg-card: #ffffff;
  --color-bg-header: #0d47a1;
  --color-header-border: #1d4888;
  --color-bg-footer: #0d47a1;
  --color-bg-dark: #212121;
  --color-primary: #90caf9;
  --color-heading-text: #1976d2;
  --color-text-light: #ffffff;
  --color-text-light-secondary: #e3f2fd;
  --color-text-dark: #37474f;
  --color-nav-link: #ffffff;
  --color-nav-link-focus: #ffffff;
  --color-card-bg: #ffffff;
  --color-card-shadow: rgba(0, 0, 0, 0.4);
  --color-transparent-white: rgba(255, 255, 255, 0.1);

  --font-header-size: 28px;
  --font-header-weight: bold;
  --font-subtitle-size: 14px;
  --font-subtitle-weight: normal;
  --font-text-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-heading-text);
}

h1 {
  font-size: 24px;
}

h2 {
  margin-bottom: 8px;
  font-size: 16px;
}

h3 {
  margin: 16px 0 8px 0;
  font-size: 14px;
}

ul {
  padding: 12px;
}

li {
  margin-bottom: 8px;
  font-size: 16px;
}

.page-body {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg-page);
  padding: 24px;
  width: 100%;
  min-height: calc(100vh - 195.5px);
  overflow-x: hidden;
}

.card {
  box-shadow: 0 2px 6px var(--color-card-shadow);
  border-radius: 16px;
  background-color: var(--color-bg-card);
  padding: 24px;
  max-width: 960px;
  max-height: max-content;
}

.centered {
  text-align: center;
}

.scrolled {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .page-body {
    padding: 8px;
  }

  p {
    text-align: center;
  }
}
